.menubar-container {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .menubar-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }